.top-nav
  div.home-link
    a(href='/') Enter a different Twitter Handle
  div.app-icon
    a(href='/')
      img(src='/images/logo-sm.svg' class='bluemix-logo-sm')
      p +
      img(src='/images/runkeeper-logo.svg' class='runkeeper-logo-sm')

